<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @donation.donor.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @donation.created_at %>
</p>

<p>
  <b>Donation Total:</b>
  <%= @donation_sum %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
